<h1>Problemas</h1>

<%= User.all.inspect %>

<table class="table table-sm table-dark">
  <tbody>
    <tr>
      <td>
        <div>Título</div>
        <div>descripción ............</div>
      </td>
      <td>Abierto</td>
      <td><button type="button" class="btn btn-outline-light">Ver</button></td>
    </tr>

  </tbody>
</table>
